@import "_vendor";
@import "_theme";
/* ====================== FONT-FACE ====================== */
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");

body{
  color: #000;
  font-size: 13px;
  line-height: 1.2;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;	  
  & > header{
  		.solid{
  			background: #111;
        }
        & nav a{
        	color: rgba(255,255,255,0.5);
            :hover, :active{
            	color: #fff;
            }
        }
    }
   
  & > section .underline{
    	border-bottom: solid #bbb 1px;
    }
      
  & hr{
  	border-style: solid;
    border-color: bck_light;
    margin: 20px 0;
    padding: 0;
  }
  /* ====================== NAVIGATION ====================== */
  & nav.group{
  	& a{
  		border-left: solid #ccc 1px;
  		color: #888;
  		& >.icon{
  			color: #888;
  		}
  		& :hover, & :active, & .active{
  		color: #000;
        background: $bck_lightest;
        & > .icon{
        	color: #000;    
  		  }
        }
        & :last-child{
  			border-right: solid #ccc 1px;
  		}
    } 
  }
 /* ====================== BACKGROUNDS ====================== */
  .bck{
  	&.lightest{
  		background-color: $bck_lightest;	
  	}
    &.light{
    	background-color: $bck_light;
    }
      
    &.dark{
    	background-color: $bck_dark;
    }
      
    &.darkest{
    	background-color: $bck_darkest;
    }
      
    &.theme{
    	background-color: $color;
    }
      
    &.accept{
    	background-color: $color_accept;
    }
      
    &.cancel{
    	background-color: $color_cancel;
    }
  }

  /* ====================== TEXT ====================== */
  & .text{
  	&.shadow{
  		@include text-shadow(rgba(black,0.5), 0, 1px, 1px);
  		// original text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  	}
    &.color{
      &.accept{
      	color: $color_accept;
      }
      &.cancel{
      	color: $color_cancel;
      }
      &.secondary{
      	color: $color_secondary;
      }
      &.theme{
      	color: $color;
      }
      &.white{
      	color: #fff;
      }
    }
  }

  /* ====================== FORM ====================== */
  & form, .form{
  	& input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea{
      background-color: white;
      border: 1px solid #ddd;
      @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
      color: rgba(0, 0, 0, 0.75);
      &.error, &:required{
      	background-color: rgba(198, 15, 19, 0.1);
      	border-color: $color_cancel;
        color: $color_cancel;
      }
      &:focus{
      	background: #FAFAFA;
        border-color: #B3B3B3;
        color: rgba(0, 0, 0, 0.75);
      }
    }
  }
  /* ====================== TABLE ====================== */
  & table{
  	background: #fff;
    color: #333;
    border: 1px solid #ddd;
    @include border-radius(3px);
    & tr{
    	&:nth-child(even) td{
    		background-color: #F9F9F9;
        }
    }
    & th{
      background-color: #eee;
      color: #222;
    }
      
    & td .highlight{
    	background-color: $color !important;
        color: #fff; 
    }
  }
  /* ====================== BUTTONS ====================== */
  & .button, button{
  	background-color: $color;
  	border: solid 1px rgba(0,0,0,0.1);
    @include border-radius(1px);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.2));
    color: white;
    font-weight: 400;
    &:active{
    	border-color: none;
    	@include box-shadow(inset 0 0 128px rgba(0,0,0,0.25));
    }
    &.secondary{
    	background-color: $color_secondary;
    	color: #666;
    	@include text-shadow(rgba(255,255,255,0.25), 0, 1px, 0);
    }
    &.accept{
    	background-color: $color_accept;
    }
    &.cancel{
    	background-color: $color_cancel;
    }
    &.transparent{
    	background: none !important;
    }
  }
  /* ====================== BUTTONS ====================== */
  // & :not(nav) > a:not(.button)
  & a{
  	color: $color;
    opacity: 0.9;
    &:hover, &:active{
    	opacity: 1.0;
    }
  }
  /* ====================== TAGs ====================== */
  & .tag{
  	color: #fff !important;
    border: solid 1px rgba(0,0,0,0.1);
    @inlcude border-radius(2px);
  }
}