.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-flex: 1;
  /* BUG (iOS) POSITION: relative childrens */
  &.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  > * {-webkit-transform: translate3d(0, 0, 0);}}
  
.clear {clear: both;}
.left {float: left;}
.right {float: right;}
.margin_none {margin: 0;}
.margin {margin: 20px;}
.margin_left {margin-left: 20px;}
.margin_right {margin-right: 20px;}
.margin_top {margin-top: 20px;}
.margin_bottom {margin-bottom: 20px;}
.padding_none {padding: 0;}
.padding {padding: 20px;}
.padding_left {padding-left: 20px;}
.padding_right {padding-right: 20px;}
.padding_top {padding-top: 20px;}
.padding_bottom {padding-bottom: 20px;}
.block {display: block;}
.inline {display: inline-block;}
.none {display: none;}
/* ================== IMAGE & MEDIA ================== */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  &.responsive {
    width: 100%;
    height: auto;
    &.rounded {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
    }
  }
}
/* ================== TAGs ================== */
.tag {
  position: relative;
  padding: 3px 4px;
  font-size: 9px !important;
  line-height: 1em;
  text-transform: uppercase;
}