/* ====================== FONT-FACE ====================== */
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");
/* line 6, ../../sass/stylesheets/theme.tuktuk.scss */
body {
  color: #000;
  font-size: 13px;
  line-height: 1.2;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  /* ====================== NAVIGATION ====================== */
  /* ====================== BACKGROUNDS ====================== */
  /* ====================== TEXT ====================== */
  /* ====================== FORM ====================== */
  /* ====================== TABLE ====================== */
  /* ====================== BUTTONS ====================== */
  /* ====================== BUTTONS ====================== */
  /* ====================== TAGs ====================== */
}
/* line 13, ../../sass/stylesheets/theme.tuktuk.scss */
body > header .solid {
  background: #111;
}
/* line 16, ../../sass/stylesheets/theme.tuktuk.scss */
body > header nav a {
  color: rgba(255, 255, 255, 0.5);
}
/* line 18, ../../sass/stylesheets/theme.tuktuk.scss */
body > header nav a :hover, body > header nav a :active {
  color: #fff;
}
/* line 24, ../../sass/stylesheets/theme.tuktuk.scss */
body > section .underline {
  border-bottom: solid #bbb 1px;
}
/* line 28, ../../sass/stylesheets/theme.tuktuk.scss */
body hr {
  border-style: solid;
  border-color: #f7f7f7;
  margin: 20px 0;
  padding: 0;
}
/* line 36, ../../sass/stylesheets/theme.tuktuk.scss */
body nav.group a {
  border-left: solid #ccc 1px;
  color: #888;
}
/* line 39, ../../sass/stylesheets/theme.tuktuk.scss */
body nav.group a > .icon {
  color: #888;
}
/* line 42, ../../sass/stylesheets/theme.tuktuk.scss */
body nav.group a :hover, body nav.group a :active, body nav.group a .active {
  color: #000;
  background: white;
}
/* line 45, ../../sass/stylesheets/theme.tuktuk.scss */
body nav.group a :hover > .icon, body nav.group a :active > .icon, body nav.group a .active > .icon {
  color: #000;
}
/* line 49, ../../sass/stylesheets/theme.tuktuk.scss */
body nav.group a :last-child {
  border-right: solid #ccc 1px;
}
/* line 56, ../../sass/stylesheets/theme.tuktuk.scss */
body .bck.lightest {
  background-color: white;
}
/* line 59, ../../sass/stylesheets/theme.tuktuk.scss */
body .bck.light {
  background-color: #f7f7f7;
}
/* line 63, ../../sass/stylesheets/theme.tuktuk.scss */
body .bck.dark {
  background-color: #282828;
}
/* line 67, ../../sass/stylesheets/theme.tuktuk.scss */
body .bck.darkest {
  background-color: #181818;
}
/* line 71, ../../sass/stylesheets/theme.tuktuk.scss */
body .bck.theme {
  background-color: #16a6b6;
}
/* line 75, ../../sass/stylesheets/theme.tuktuk.scss */
body .bck.accept {
  background-color: #3fb58e;
}
/* line 79, ../../sass/stylesheets/theme.tuktuk.scss */
body .bck.cancel {
  background-color: #ee6557;
}
/* line 86, ../../sass/stylesheets/theme.tuktuk.scss */
body .text.shadow {
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}
/* line 91, ../../sass/stylesheets/theme.tuktuk.scss */
body .text.color.accept {
  color: #3fb58e;
}
/* line 94, ../../sass/stylesheets/theme.tuktuk.scss */
body .text.color.cancel {
  color: #ee6557;
}
/* line 97, ../../sass/stylesheets/theme.tuktuk.scss */
body .text.color.secondary {
  color: #bfbfbf;
}
/* line 100, ../../sass/stylesheets/theme.tuktuk.scss */
body .text.color.theme {
  color: #16a6b6;
}
/* line 103, ../../sass/stylesheets/theme.tuktuk.scss */
body .text.color.white {
  color: #fff;
}
/* line 111, ../../sass/stylesheets/theme.tuktuk.scss */
body form input[type="text"], body form input[type="password"], body form input[type="date"], body form input[type="datetime"], body form input[type="email"], body form input[type="number"], body form input[type="search"], body form input[type="tel"], body form input[type="time"], body form input[type="url"], body form select, body form textarea, body .form input[type="text"], body .form input[type="password"], body .form input[type="date"], body .form input[type="datetime"], body .form input[type="email"], body .form input[type="number"], body .form input[type="search"], body .form input[type="tel"], body .form input[type="time"], body .form input[type="url"], body .form select, body .form textarea {
  background-color: white;
  border: 1px solid #ddd;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
}
/* line 116, ../../sass/stylesheets/theme.tuktuk.scss */
body form input[type="text"].error, body form input[type="text"]:required, body form input[type="password"].error, body form input[type="password"]:required, body form input[type="date"].error, body form input[type="date"]:required, body form input[type="datetime"].error, body form input[type="datetime"]:required, body form input[type="email"].error, body form input[type="email"]:required, body form input[type="number"].error, body form input[type="number"]:required, body form input[type="search"].error, body form input[type="search"]:required, body form input[type="tel"].error, body form input[type="tel"]:required, body form input[type="time"].error, body form input[type="time"]:required, body form input[type="url"].error, body form input[type="url"]:required, body form select.error, body form select:required, body form textarea.error, body form textarea:required, body .form input[type="text"].error, body .form input[type="text"]:required, body .form input[type="password"].error, body .form input[type="password"]:required, body .form input[type="date"].error, body .form input[type="date"]:required, body .form input[type="datetime"].error, body .form input[type="datetime"]:required, body .form input[type="email"].error, body .form input[type="email"]:required, body .form input[type="number"].error, body .form input[type="number"]:required, body .form input[type="search"].error, body .form input[type="search"]:required, body .form input[type="tel"].error, body .form input[type="tel"]:required, body .form input[type="time"].error, body .form input[type="time"]:required, body .form input[type="url"].error, body .form input[type="url"]:required, body .form select.error, body .form select:required, body .form textarea.error, body .form textarea:required {
  background-color: rgba(198, 15, 19, 0.1);
  border-color: #ee6557;
  color: #ee6557;
}
/* line 121, ../../sass/stylesheets/theme.tuktuk.scss */
body form input[type="text"]:focus, body form input[type="password"]:focus, body form input[type="date"]:focus, body form input[type="datetime"]:focus, body form input[type="email"]:focus, body form input[type="number"]:focus, body form input[type="search"]:focus, body form input[type="tel"]:focus, body form input[type="time"]:focus, body form input[type="url"]:focus, body form select:focus, body form textarea:focus, body .form input[type="text"]:focus, body .form input[type="password"]:focus, body .form input[type="date"]:focus, body .form input[type="datetime"]:focus, body .form input[type="email"]:focus, body .form input[type="number"]:focus, body .form input[type="search"]:focus, body .form input[type="tel"]:focus, body .form input[type="time"]:focus, body .form input[type="url"]:focus, body .form select:focus, body .form textarea:focus {
  background: #FAFAFA;
  border-color: #B3B3B3;
  color: rgba(0, 0, 0, 0.75);
}
/* line 129, ../../sass/stylesheets/theme.tuktuk.scss */
body table {
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 135, ../../sass/stylesheets/theme.tuktuk.scss */
body table tr:nth-child(even) td {
  background-color: #F9F9F9;
}
/* line 139, ../../sass/stylesheets/theme.tuktuk.scss */
body table th {
  background-color: #eee;
  color: #222;
}
/* line 144, ../../sass/stylesheets/theme.tuktuk.scss */
body table td .highlight {
  background-color: #16a6b6 !important;
  color: #fff;
}
/* line 150, ../../sass/stylesheets/theme.tuktuk.scss */
body .button, body button {
  background-color: #16a6b6;
  border: solid 1px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 400;
}
/* line 157, ../../sass/stylesheets/theme.tuktuk.scss */
body .button:active, body button:active {
  border-color: none;
  -moz-box-shadow: inset 0 0 128px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 128px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0 0 128px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 128px rgba(0, 0, 0, 0.25);
}
/* line 161, ../../sass/stylesheets/theme.tuktuk.scss */
body .button.secondary, body button.secondary {
  background-color: #bfbfbf;
  color: #666;
  -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -o-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}
/* line 166, ../../sass/stylesheets/theme.tuktuk.scss */
body .button.accept, body button.accept {
  background-color: #3fb58e;
}
/* line 169, ../../sass/stylesheets/theme.tuktuk.scss */
body .button.cancel, body button.cancel {
  background-color: #ee6557;
}
/* line 172, ../../sass/stylesheets/theme.tuktuk.scss */
body .button.transparent, body button.transparent {
  background: none !important;
}
/* line 178, ../../sass/stylesheets/theme.tuktuk.scss */
body a {
  color: #16a6b6;
  opacity: 0.9;
}
/* line 181, ../../sass/stylesheets/theme.tuktuk.scss */
body a:hover, body a:active {
  opacity: 1.0;
}
/* line 186, ../../sass/stylesheets/theme.tuktuk.scss */
body .tag {
  color: #fff !important;
  border: solid 1px rgba(0, 0, 0, 0.1);
@inlcude border-radius(2px);
}
