/* ====================== COLORS ====================== */
/* HEADER */
/* ASIDE */
/* ARTICLE */
/* content */
/* HEADING */
/* LIST */
/* GRID */
/* line 4, ../../sass/stylesheets/tuktuk.button.scss */
.button, button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  height: 32px;
  line-height: 30px;
  outline: none;
  text-align: center;
  text-decoration: none;
}
/* line 16, ../../sass/stylesheets/tuktuk.button.scss */
.button:disabled, .button.disabled, button:disabled, button.disabled {
  background: rgba(255, 255, 255, 0.2);
  color: #999 !important;
}
/* line 21, ../../sass/stylesheets/tuktuk.button.scss */
.button.icon, button.icon {
  padding: 1px 9px;
}
/* line 23, ../../sass/stylesheets/tuktuk.button.scss */
.button:not(.icon), button:not(.icon) {
  padding: 0 16px;
}
/* line 25, ../../sass/stylesheets/tuktuk.button.scss */
.button:not(.icon) .icon, button:not(.icon) .icon {
  margin-right: 5px;
  display: inline-block;
}
/* line 29, ../../sass/stylesheets/tuktuk.button.scss */
.button.anchor, button.anchor {
  width: 100%;
}
/* line 31, ../../sass/stylesheets/tuktuk.button.scss */
.button.anchor:not(.icon) .icon, button.anchor:not(.icon) .icon {
  float: left;
  margin-left: 8px;
}
/* line 35, ../../sass/stylesheets/tuktuk.button.scss */
.button.large, button.large {
  height: 52px;
  font-size: 22px;
  line-height: 52px;
}
/* line 40, ../../sass/stylesheets/tuktuk.button.scss */
.button.large.icon, button.large.icon {
  padding: 0 16px;
}
/* line 42, ../../sass/stylesheets/tuktuk.button.scss */
.button.large:not(.icon), button.large:not(.icon) {
  padding: 0 24px;
}
/* line 44, ../../sass/stylesheets/tuktuk.button.scss */
.button.small, button.small {
  height: 28px;
  font-size: 13px;
  line-height: 26px;
}
/* line 49, ../../sass/stylesheets/tuktuk.button.scss */
.button.small.icon, button.small.icon {
  padding: 1px 8px;
}
/* line 51, ../../sass/stylesheets/tuktuk.button.scss */
.button.small:not(.icon), button.small:not(.icon) {
  padding: 0 12px;
}
/* line 54, ../../sass/stylesheets/tuktuk.button.scss */
.button.small:not(.icon) > .icon, button.small:not(.icon) > .icon {
  height: 17px;
}
/* line 55, ../../sass/stylesheets/tuktuk.button.scss */
.button.tiny, button.tiny {
  height: 22px;
  font-size: 11px;
  line-height: 20px;
}
/* line 60, ../../sass/stylesheets/tuktuk.button.scss */
.button.tiny.icon, button.tiny.icon {
  padding: 0 6px;
}
/* line 62, ../../sass/stylesheets/tuktuk.button.scss */
.button.tiny:not(.icon), button.tiny:not(.icon) {
  padding: 0 10px;
}
/* line 64, ../../sass/stylesheets/tuktuk.button.scss */
.button.tiny:not(.icon) > .icon, button.tiny:not(.icon) > .icon {
  height: 12px;
}
