/* line 4, ../../sass/stylesheets/tuktuk.button.scss */
.button, button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  height: 32px;
  line-height: 30px;
  outline: none;
  text-align: center;
  text-decoration: none;
}
/* line 16, ../../sass/stylesheets/tuktuk.button.scss */
.button:disabled, .button.disabled, button:disabled, button.disabled {
  background: rgba(255, 255, 255, 0.2);
  color: #999 !important;
}
/* line 20, ../../sass/stylesheets/tuktuk.button.scss */
.button.icon, button.icon {
  padding: 1px 9px;
}
/* line 23, ../../sass/stylesheets/tuktuk.button.scss */
.button:not(.icon), button:not(.icon) {
  padding: 0 16px;
}
/* line 25, ../../sass/stylesheets/tuktuk.button.scss */
.button:not(.icon) .icon, button:not(.icon) .icon {
  margin-right: padding/2;
  display: inline-block;
}
/* line 31, ../../sass/stylesheets/tuktuk.button.scss */
.button.anchor, button.anchor {
  width: 100%;
}
/* line 33, ../../sass/stylesheets/tuktuk.button.scss */
.button.anchor:not(.icon) .icon, button.anchor:not(.icon) .icon {
  float: left;
  margin-left: 8px;
}
/* line 38, ../../sass/stylesheets/tuktuk.button.scss */
.button.large, button.large {
  height: 52px;
  font-size: 22px;
  line-height: 52px;
}
/* line 42, ../../sass/stylesheets/tuktuk.button.scss */
.button.large.icon, button.large.icon {
  padding: 0 16px;
}
/* line 45, ../../sass/stylesheets/tuktuk.button.scss */
.button.large:not(.icon), button.large:not(.icon) {
  padding: 0 24px;
}
/* line 49, ../../sass/stylesheets/tuktuk.button.scss */
.button.small, button.small {
  height: 28px;
  font-size: 13px;
  line-height: 26px;
}
/* line 53, ../../sass/stylesheets/tuktuk.button.scss */
.button.small.icon, button.small.icon {
  padding: 1px 8px;
}
/* line 56, ../../sass/stylesheets/tuktuk.button.scss */
.button.small:not(.icon), button.small:not(.icon) {
  padding: 0 12px;
}
/* line 58, ../../sass/stylesheets/tuktuk.button.scss */
.button.small:not(.icon) > .icon, button.small:not(.icon) > .icon {
  height: 17px;
}
/* line 63, ../../sass/stylesheets/tuktuk.button.scss */
.button.tiny, button.tiny {
  height: 22px;
  font-size: 11px;
  line-height: 20px;
}
/* line 67, ../../sass/stylesheets/tuktuk.button.scss */
.button.tiny.icon, button.tiny.icon {
  padding: 0 6px;
}
/* line 70, ../../sass/stylesheets/tuktuk.button.scss */
.button.tiny:not(.icon), button.tiny:not(.icon) {
  padding: 0 10px;
}
/* line 72, ../../sass/stylesheets/tuktuk.button.scss */
.button.tiny:not(.icon) > .icon, button.tiny:not(.icon) > .icon {
  height: 12px;
}
