/* ====================== COLORS ====================== */
/* HEADER */
/* ASIDE */
/* ARTICLE */
/* content */
/* HEADING */
/* LIST */
/* GRID */
/* ========================= VISIBILITY ========================= */
/* ========================= ROW ========================= */
/* ========================= COLUMN ========================= */
/* ========================= OFFSET =========================*/
/* ========================= NORMAL ========================= */
/* line 60, ../../sass/stylesheets/tuktuk.grid.scss */
.row {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}
/* line 66, ../../sass/stylesheets/tuktuk.grid.scss */
.row .row {
  margin: 0 -16px 0 -16px;
  width: auto;
  display: inline-block;
}

/* line 95, ../../sass/stylesheets/tuktuk.grid.scss */
[class^="column_"], [class*=" column_"] {
  margin: 0 16px 0 16px;
  overflow: hidden;
  float: left;
  display: inline;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_1 {
  width: 48px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_2 {
  width: 128px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_3 {
  width: 208px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_4 {
  width: 288px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_5 {
  width: 368px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_6 {
  width: 448px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_7 {
  width: 528px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_8 {
  width: 608px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_9 {
  width: 688px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_10 {
  width: 768px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_11 {
  width: 848px;
}

/* line 207, ../../sass/stylesheets/tuktuk.grid.scss */
.column_12 {
  width: 928px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_1 {
  margin-left: 96px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_2 {
  margin-left: 176px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_3 {
  margin-left: 256px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_4 {
  margin-left: 336px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_5 {
  margin-left: 416px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_6 {
  margin-left: 496px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_7 {
  margin-left: 576px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_8 {
  margin-left: 656px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_9 {
  margin-left: 736px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_10 {
  margin-left: 816px;
}

/* line 209, ../../sass/stylesheets/tuktuk.grid.scss */
.offset_11 {
  margin-left: 896px;
}

/* line 211, ../../sass/stylesheets/tuktuk.grid.scss */
.show-phone {
  display: none !important;
}

/* line 212, ../../sass/stylesheets/tuktuk.grid.scss */
.hide-phone {
  display: inherit !important;
}

/* line 211, ../../sass/stylesheets/tuktuk.grid.scss */
.show-tablet {
  display: none !important;
}

/* line 212, ../../sass/stylesheets/tuktuk.grid.scss */
.hide-tablet {
  display: inherit !important;
}

/* line 211, ../../sass/stylesheets/tuktuk.grid.scss */
.show-screen {
  display: inherit !important;
}

/* line 212, ../../sass/stylesheets/tuktuk.grid.scss */
.hide-screen {
  display: none !important;
}

/* ========================= MEDIA QUERY ========================= */
@media only screen and (min-width: 1200px) {
  /* line 60, ../../sass/stylesheets/tuktuk.grid.scss */
  .row {
    width: 1200px;
  }
  /* line 73, ../../sass/stylesheets/tuktuk.grid.scss */
  .row .row {
    margin: 0 -20px 0 -20px;
  }

  /* line 101, ../../sass/stylesheets/tuktuk.grid.scss */
  [class^="column_"], [class*=" column_"] {
    margin: 0 20px 0 20px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_1 {
    width: 60px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_2 {
    width: 160px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_3 {
    width: 260px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_4 {
    width: 360px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_5 {
    width: 460px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_6 {
    width: 560px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_7 {
    width: 660px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_8 {
    width: 760px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_9 {
    width: 860px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_10 {
    width: 960px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_11 {
    width: 1060px;
  }

  /* line 218, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_12 {
    width: 1160px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_1 {
    margin-left: 120px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_2 {
    margin-left: 220px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_3 {
    margin-left: 320px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_4 {
    margin-left: 420px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_5 {
    margin-left: 520px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_6 {
    margin-left: 620px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_7 {
    margin-left: 720px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_8 {
    margin-left: 820px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_9 {
    margin-left: 920px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_10 {
    margin-left: 1020px;
  }

  /* line 219, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_11 {
    margin-left: 1120px;
  }

  /* line 221, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-phone {
    display: none !important;
  }

  /* line 222, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-phone {
    display: inherit !important;
  }

  /* line 221, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-tablet {
    display: none !important;
  }

  /* line 222, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-tablet {
    display: none !important;
  }

  /* line 221, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-screen {
    display: inherit;
  }

  /* line 222, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-screen {
    display: inherit !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 60, ../../sass/stylesheets/tuktuk.grid.scss */
  .row {
    width: 768px;
  }
  /* line 77, ../../sass/stylesheets/tuktuk.grid.scss */
  .row .row {
    margin: 0 -14px 0 -14px;
  }

  /* line 103, ../../sass/stylesheets/tuktuk.grid.scss */
  [class^="column_"], [class*=" column_"] {
    margin: 0 14px 0 14px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_1 {
    width: 36px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_2 {
    width: 100px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_3 {
    width: 164px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_4 {
    width: 228px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_5 {
    width: 292px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_6 {
    width: 356px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_7 {
    width: 420px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_8 {
    width: 484px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_9 {
    width: 548px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_10 {
    width: 612px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_11 {
    width: 676px;
  }

  /* line 227, ../../sass/stylesheets/tuktuk.grid.scss */
  .column_12 {
    width: 740px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_1 {
    margin-left: 78px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_2 {
    margin-left: 142px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_3 {
    margin-left: 206px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_4 {
    margin-left: 270px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_5 {
    margin-left: 334px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_6 {
    margin-left: 398px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_7 {
    margin-left: 462px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_8 {
    margin-left: 526px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_9 {
    margin-left: 590px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_10 {
    margin-left: 654px;
  }

  /* line 228, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_11 {
    margin-left: 718px;
  }

  /* line 230, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-phone {
    display: none !important;
  }

  /* line 231, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-phone {
    display: inherit !important;
  }

  /* line 230, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-tablet {
    display: inherit !important;
  }

  /* line 231, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-tablet {
    display: none !important;
  }

  /* line 230, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-screen {
    display: none !important;
  }

  /* line 231, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-screen {
    display: inherit !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 60, ../../sass/stylesheets/tuktuk.grid.scss */
  .row {
    width: 300px;
  }
  /* line 81, ../../sass/stylesheets/tuktuk.grid.scss */
  .row.row {
    margin: 0;
  }

  /* line 106, ../../sass/stylesheets/tuktuk.grid.scss */
  [class^="column_"], [class*=" column_"] {
    width: 300px;
    margin: 10px 0 0 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_1 {
    margin-left: 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_2 {
    margin-left: 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_3 {
    margin-left: 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_4 {
    margin-left: 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_5 {
    margin-left: 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_6 {
    margin-left: 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_7 {
    margin-left: 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_8 {
    margin-left: 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_9 {
    margin-left: 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_10 {
    margin-left: 0;
  }

  /* line 236, ../../sass/stylesheets/tuktuk.grid.scss */
  .offset_11 {
    margin-left: 0;
  }

  /* line 238, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-phone {
    display: inherit !important;
  }

  /* line 239, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-phone {
    display: none !important;
  }

  /* line 238, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-tablet {
    display: none !important;
  }

  /* line 239, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-tablet {
    display: inherit !important;
  }

  /* line 238, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-screen {
    display: none !important;
  }

  /* line 239, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-screen {
    display: inherit !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 60, ../../sass/stylesheets/tuktuk.grid.scss */
  .row {
    margin: 0 auto;
    width: 456px;
    overflow: hidden;
  }
  /* line 87, ../../sass/stylesheets/tuktuk.grid.scss */
  .row.row {
    margin: 0;
    width: auto;
    display: inline-block;
  }

  /* line 111, ../../sass/stylesheets/tuktuk.grid.scss */
  [class^="column_"], [class*=" column_"] {
    margin: 10px 0 0 0;
    width: 456px;
  }

  /* line 245, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-phone {
    display: inherit !important;
  }

  /* line 246, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-phone {
    display: none !important;
  }

  /* line 245, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-tablet {
    display: none !important;
  }

  /* line 246, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-tablet {
    display: inherit !important;
  }

  /* line 245, ../../sass/stylesheets/tuktuk.grid.scss */
  .show-screen {
    display: none !important;
  }

  /* line 246, ../../sass/stylesheets/tuktuk.grid.scss */
  .hide-screen {
    display: inherit !important;
  }
}
