/* line 1, ../../sass/stylesheets/tuktuk.list.scss */
ul {
  list-style: disc;
}
/* line 3, ../../sass/stylesheets/tuktuk.list.scss */
ul.square li, ul.circle li {
  margin: 0 0 5px 18px;
}
/* line 6, ../../sass/stylesheets/tuktuk.list.scss */
ul:not(.none) li {
  padding: 0;
  background: none;
}
/* line 10, ../../sass/stylesheets/tuktuk.list.scss */
ul ul, ul ol {
  margin: 5px 0 5px 0;
}
/* line 12, ../../sass/stylesheets/tuktuk.list.scss */
ul.none {
  list-style: none outside;
  margin: 0;
}
/* line 17, ../../sass/stylesheets/tuktuk.list.scss */
ul.square {
  list-style: square outside;
}
/* line 19, ../../sass/stylesheets/tuktuk.list.scss */
ul.square ul {
  list-style: square outside;
}
/* line 21, ../../sass/stylesheets/tuktuk.list.scss */
ul.circle {
  list-style: circle outside;
}
/* line 24, ../../sass/stylesheets/tuktuk.list.scss */
ul.circle ul {
  list-style: circle outside;
}

/* line 26, ../../sass/stylesheets/tuktuk.list.scss */
ol {
  margin: 0 0 20px 20px;
  list-style: decimal;
}
/* line 29, ../../sass/stylesheets/tuktuk.list.scss */
ol ol, ol ul {
  margin: 5px 0 5px 20px;
}
/* line 30, ../../sass/stylesheets/tuktuk.list.scss */
ol li {
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 18px;
}
