/* ====================== COLORS ====================== */
/* HEADER */
/* ASIDE */
/* ARTICLE */
/* content */
/* HEADING */
/* LIST */
/* GRID */
/* ========================= HEADING ========================= */
/* line 5, ../../sass/stylesheets/tuktuk.font.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}
/* line 10, ../../sass/stylesheets/tuktuk.font.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
/* line 12, ../../sass/stylesheets/tuktuk.font.scss */
h1 .right, h2 .right, h3 .right, h4 .right, h5 .right, h6 .right {
  font-size: 1.0em;
}
/* line 14, ../../sass/stylesheets/tuktuk.font.scss */
h1 .icon, h2 .icon, h3 .icon, h4 .icon, h5 .icon, h6 .icon {
  font-size: 0.85em;
}

/* line 16, ../../sass/stylesheets/tuktuk.font.scss */
h1 {
  font-size: 2.6em;
}

/* line 17, ../../sass/stylesheets/tuktuk.font.scss */
h2 {
  font-size: 2.2em;
}

/* line 18, ../../sass/stylesheets/tuktuk.font.scss */
h3 {
  font-size: 1.8em;
}

/* line 19, ../../sass/stylesheets/tuktuk.font.scss */
h4 {
  font-size: 1.6em;
}

/* line 20, ../../sass/stylesheets/tuktuk.font.scss */
h5 {
  font-size: 1.3em;
}

/* line 21, ../../sass/stylesheets/tuktuk.font.scss */
h6 {
  font-size: 1.0em;
}

/* ========================= TEXT ========================= */
/* line 24, ../../sass/stylesheets/tuktuk.font.scss */
.text .thin {
  font-weight: 200;
}
/* line 25, ../../sass/stylesheets/tuktuk.font.scss */
.text .book {
  font-weight: 300;
}
/* line 26, ../../sass/stylesheets/tuktuk.font.scss */
.text .normal {
  font-weight: 400;
}
/* line 27, ../../sass/stylesheets/tuktuk.font.scss */
.text .bold {
  font-weight: 700;
}
/* line 28, ../../sass/stylesheets/tuktuk.font.scss */
.text .italic {
  font-style: italic;
}
/* line 29, ../../sass/stylesheets/tuktuk.font.scss */
.text .underline {
  border-bottom: 1px solid;
}
/* line 30, ../../sass/stylesheets/tuktuk.font.scss */
.text .uppercase {
  text-transform: uppercase;
}
/* line 31, ../../sass/stylesheets/tuktuk.font.scss */
.text.left {
  text-align: left;
}
/* line 32, ../../sass/stylesheets/tuktuk.font.scss */
.text.right {
  text-align: right;
}
/* line 33, ../../sass/stylesheets/tuktuk.font.scss */
.text.center {
  text-align: center;
}
/* line 34, ../../sass/stylesheets/tuktuk.font.scss */
.text.justify {
  text-align: justify;
}
/* line 35, ../../sass/stylesheets/tuktuk.font.scss */
.text.tiny {
  font-size: 0.8em;
}
/* line 36, ../../sass/stylesheets/tuktuk.font.scss */
.text.small {
  font-size: 0.9em;
}
/* line 37, ../../sass/stylesheets/tuktuk.font.scss */
.text.big {
  font-size: 1.2em;
}

/* ========================= BASIC ELEMENTS ========================= */
/* line 40, ../../sass/stylesheets/tuktuk.font.scss */
p {
  font-size: 1.1em;
  line-height: 1.1em;
}

/* line 43, ../../sass/stylesheets/tuktuk.font.scss */
small {
  font-size: 0.9em;
  line-height: 0.9em;
}
